.resume h4 {
    text-transform: uppercase;
    padding-top: 20px;
}

.resume h5 {
    text-transform: uppercase;
    padding-top: 10px;
}

.resume p {
    padding-left: 20px;
}

.resume .link {
    padding-left: 0;
    margin: 20px 0 40px 0;
}

.resume ul {
    list-style-type: square;
    padding-left: 30px;
}

.resume-box {
    display: flex;
}


/*
.hole {
    display: none;
}*/

.resume-box .show .title {
    border-bottom: 0px;
}